# https://github.com/github/gitignore/blob/master/UnrealEngine.gitignore#L72

#*/Saved/Autosaves/*
#*/Saved/Screenshots/*
#*/Saved/Backup/*
#*/Saved/Collections/*
#*/Saved/Crashes/*
#*/Saved/Logs/*
#*/Saved/Config/CrashReportClient/*

#*/Saved/AutoScreenshot.png
#*/Saved/Config/Windows/EditorPerProjectUserSettings.ini

*/Saved/*
*/Intermediate/*

*.log
*.bin

Guildless/.vs/Guildless/v16/Browse.VC.db
Guildless/.vs/Guildless/v16/Browse.VC.db
Guildless/.vs/Guildless/v16/Browse.VC.db
Guildless/.vs/Guildless/v16/Solution.VC.db-wal
Guildless/.vs/Guildless/v16/Solution.VC.db-shm
Guildless/.vs/Guildless/v16/Solution.VC.db
Guildless/.vs/Guildless/v16/Browse.VC.opendb
Guildless/.vs/Guildless/v16/Browse.VC.db
Guildless/.vs/Guildless/v16/Browse.VC.db
